.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
@media( max-width:385px){
  .fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   }
 }

.fpItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.fpImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s;
}
.fpItem .fpImg:hover {
  transform: scale(1.1);
  filter: blur(1.5px);
  filter: brightness(60%);
}

.fpName {
  color: #0b0b0b;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.fpCity {
  font-weight: 300;
  text-transform: capitalize;
  position: absolute;
  margin-top: 2%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: oblique;
  font-size: 18px;
  transform: translateX(50px) translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.fpPrice {
  font-weight: 500;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  color: rgb(255, 254, 254);
  transform: translateX(50px) translateY(10px);
  opacity: 0;
  transition: 0.5s;
}
.fpItem:hover .fpPrice {
  opacity: 1;
  transform: translateY(0);
}
.fpItem:hover .fpCity {
  opacity: 1;
  transform: translateY(0);
}
.fpRating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating > span {
  font-size: 14px;
}
