.header {
  background: rgb(9, 29, 63);
  background: linear-gradient(
    90deg,
    rgba(9, 29, 63, 1) 0%,
    rgba(4, 138, 152, 1) 25%,
    rgba(114, 62, 137, 1) 110%
  );
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid white;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.headerListItem.active {
  border: 2px solid gray;
  padding: 5px;
  border-radius: 15px;
  color: #048a98;
  font-weight: 500;
  font-size: 13px;
}

.headerDesc {
  margin: 10px 0px;
}


.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchText {
  color: rgb(86, 86, 86);
  cursor: pointer;
}

/* .date {
  position: absolute;
  top: 50px;
  left: 20%;
  z-index: 2;
} */

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
.headerTitle {
  font-size: 50px;
}

/* .headerDesc{
  position: relative;
  right: 120px;
} */

.cr-wrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cr-wrapper {
	display: table;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-bottom: 5px;
}


.cr-wrapper input[type="radio"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 20px;
	width: 20px;
	background: #94A3B8;
	transition: background 250ms;
	border: 1px solid #F1F5F9;
	border-radius: 20px;
	transform: translate(0, -50%);
}


.cr-wrapper input[type="radio"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #FFFFFF;
	transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
	display: block;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
	background: #40A9BF;
	border-color: #2F7D8E;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
	opacity: 0.5;
	cursor: not-allowed;
}